form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ffd6c2;
    border: 6px green;
    border-radius: 5px;
    padding: 10px;
}

h1.orange{
    color: orange;
}

h4.nice{
    color: slategrey;
    border-left: 20px;
}

div.pandas{
    width: 300px;
    height: 200px;
}